<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jinxiang.order.dao.StockMapper" >
  <resultMap id="BaseResultMap" type="com.jinxiang.order.pojo.Stock" >
    <id column="ord" property="ord" jdbcType="BIGINT" />
    <result column="commodity" property="commodity" jdbcType="BIGINT" />
    <result column="stockNum" property="stockNum" jdbcType="DECIMAL" />
    <result column="units" property="units" jdbcType="VARCHAR" />
    <result column="commodityName" property="commodityName" jdbcType="VARCHAR" />
    <result column="commodityColor" property="commodityColor" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ord, commodity, stockNum, units
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from Stock
    where ord = #{ord,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from Stock
    where ord = #{ord,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jinxiang.order.pojo.Stock" >
    insert into Stock (ord, commodity, stockNum, 
      units)
    values (#{ord,jdbcType=BIGINT}, #{commodity,jdbcType=BIGINT}, #{stockNum,jdbcType=DECIMAL}, 
      #{units,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jinxiang.order.pojo.Stock" >
    insert into Stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ord != null" >
        ord,
      </if>
      <if test="commodity != null" >
        commodity,
      </if>
      <if test="stockNum != null" >
        stockNum,
      </if>
      <if test="units != null" >
        units,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ord != null" >
        #{ord,jdbcType=BIGINT},
      </if>
      <if test="commodity != null" >
        #{commodity,jdbcType=BIGINT},
      </if>
      <if test="stockNum != null" >
        #{stockNum,jdbcType=DECIMAL},
      </if>
      <if test="units != null" >
        #{units,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jinxiang.order.pojo.Stock" >
    update Stock
    <set >
      <if test="commodity != null" >
        commodity = #{commodity,jdbcType=BIGINT},
      </if>
      <if test="stockNum != null" >
        stockNum = #{stockNum,jdbcType=DECIMAL},
      </if>
      <if test="units != null" >
        units = #{units,jdbcType=VARCHAR},
      </if>
    </set>
    where ord = #{ord,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jinxiang.order.pojo.Stock" >
    update Stock
    set commodity = #{commodity,jdbcType=BIGINT},
      stockNum = #{stockNum,jdbcType=DECIMAL},
      units = #{units,jdbcType=VARCHAR}
    where ord = #{ord,jdbcType=BIGINT}
  </update>

  <select id="selectByCommodityId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from Stock
    where commodity=#{commodityID}
    for update
  </select>

  <select id="selectBySelective" resultMap="BaseResultMap">
    select ord, commodity, stockNum, units,
    C2.name as commodityName,C2.color as commodityColor
    from Stock inner join Commodity C2 on Stock.commodity = C2.commodityId
    where 1=1
    <include refid="whereSql"/>
    order by ord DESC
    LIMIT #{pager.start},#{pager.pageSize}
  </select>

  <select id="selectCount" resultType="int">
    select COUNT(*) from Stock
    where 1=1
    <include refid="whereSql"/>
  </select>



  <sql id="whereSql">
    <if test="stock.commodity != null" >
     and commodity = #{stock.commodity,jdbcType=BIGINT}
    </if>
    <if test="stock.commodityName != null" >
      and commodityName like concat('%', #{stock.commodityName,jdbcType=BIGINT},'%')
    </if>
  </sql>
</mapper>